/* vampire_theme.css */
html, body {
    height: 100%;
    color: white;
    background: linear-gradient(to bottom right, #610361, black);
}

h1, h2, h3, p {
    color: #ff0033;
}

a {
    color: #9900cc;
}

header {
    background-color: #ff0033;
}

header:hover {
    color: #ff6699;
}

.card {
    background-color: #2e0032;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 0, 51, 0.3);
}

.card-header {
    color: #ff0033;
}

.info-links {
    color: #ff0033;
}

.link-button {
    background-color: #ff0033;
    color: white;
}

.link-button:hover {
    background-color: #ff6699;
    color: white;
}

.nav-link {
    background-color: red;
    color: white; /* Changed from black to white for better contrast */
    padding: 10px 20px; /* Added some padding to make the link more clickable */
    border-radius: 10px; /* Adjust the value to control how round the edges are */
    text-decoration: none; /* Optional: Removes underline from the link */
}

.nav-link:hover {
    background-color: #ff6699;
    color: white; /* Changed from black to white for better contrast */
}

.info-links a {
    color: red;
}