{% extends "base.html" %}
{% block content %}

<!-- Centered container -->
<div class="center-container">
    <!-- Render Full ASCII Art -->
    <pre class="ascii-art no-background">{{ full_ascii_art }}</pre>

    <!-- Render Infinitei ASCII Art -->
    <pre class="ascii-art infinit3i">{{ infinitei }}</pre>

    <!-- Dynamically Render Random Image -->
    {% if selected_image %}
    <div class="image-container">
        <img src="{{ url_for('static', filename=selected_image) }}" alt="Cover Image" class="cover-image" id="cover-image">
        <h1 class="img__description">HUNT, HARDEN, ELIMINATE THE THREAT</h1>
      </div>
    {% endif %}

    <h1>Welcome to Your Cybersecurity Tool</h1>
    
    <p>Hunt-AI is a comprehensive threat hunting platform programmed to help threat hunters find attackers. It serves as a dynamic runbook that guides analysts through every step of an investigation—from initial detection to final remediation. By consolidating and correlating data from multiple sources, it quickly highlights anomalies and suspicious patterns, enabling security teams to respond rapidly and effectively. With its intuitive interface and structured workflows, Hunt-AI empowers organizations to streamline threat investigations, ensuring that potential attackers are identified and neutralized before they can cause harm.</p>

    <!-- Links displayed side by side -->
    <div class="link-container">
        {% for link in links %}
        <a class="link-button" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}
