{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mitre.css') }}" />

<h1>MITRE Tactics</h1>

<div class="mitre-grid">
    {% for tactic in mitre_content %}
    <div class="mitre-box" data-checkbox-id="{{ tactic.title | replace(' ', '-') }}">
        <!-- Hidden checkbox -->
        <input type="checkbox" id="{{ tactic.title | replace(' ', '-') }}" class="tactic-checkbox" />
        <label for="{{ tactic.title | replace(' ', '-') }}" class="checkbox-label"></label>

        <!-- Tactic title and description -->
        <h2>
            <a href="{{ url_for('routes.mitre_tactic', tactic=tactic.title.replace(' ', '_')) }}">
                {{ tactic.title }}
            </a>
        </h2>
        <p>{{ tactic.description }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}
