{% extends "base.html" %}
{% block content %}
<h1>Notebook</h1>

<!-- Notebook Form -->
<form method="POST">
    <div class="form-group">
        <div class="side-by-side">
            <div class="form-item">
                <label for="category">Category:</label>
                <select name="category" id="category" required>
                    <option value="notes">Notes</option>
                    <option value="ips">IPs</option>
                    <option value="domains">Domains</option>
                    <option value="services">Services</option>
                    <option value="tasks">Scheduled Tasks</option>
                </select>
            </div>

            <div class="form-item">
                <label for="incident_time">Incident Time:</label>
                <input type="datetime-local" id="incident_time" name="incident_time" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="entry">Entry:</label>
        <textarea name="entry" id="entry" rows="3" required></textarea>
    </div>
    
    <button type="submit">Add</button>
</form>

<hr>

<!-- Import Notebook Data -->
<h3>Import Notebook Data</h3>
<form action="{{ url_for('notebook.import_notebook') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Import</button>
</form>

<hr>

<!-- Display Notebook Entries -->
{% for category, entries in notebook.items() %}
<h2>{{ category.capitalize() }}</h2>
<ul>
    {% for entry in entries %}
    <li>
        {{ entry['data'] }} - {{ entry['time'] }}
        {% if entry['category'] == 'ips' %}
            (Hostname: {{ entry['hostname'] }})
        {% endif %}
        <a href="{{ url_for('notebook.delete_entry', category=category, index=loop.index0) }}" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a>
    </li>
    {% endfor %}
</ul>
{% if not entries %}
<p>No entries yet.</p>
{% endif %}
{% endfor %}
{% endblock %}
