{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mitre.css') }}" />

<h1>{{ tactic.title }}</h1>
<p>{{ tactic.description }}</p>

{% if current_tactic %}
    <h2>Techniques for {{ current_tactic }}</h2>
{% else %}
    <h2>Techniques</h2>
{% endif %}

<div class="mitre-grid">
    {% for technique in techniques.values() %}
    <div class="mitre-box technique-box" 
         data-checkbox-id="{{ technique.id }}" 
         data-log-sources="{{ ','.join(technique.log_sources|map(attribute='type')) }}">
        <input type="checkbox" id="{{ technique.id }}" class="checkbox-box" />
        <label for="{{ technique.id }}" class="checkbox-label"></label>
        <h2>
            <a href="{{ url_for('routes.technique_page', url_id=technique.url_id) }}">
                {{ technique.title }} [{{ technique.id }}]
            </a>
        </h2>
    </div>
    {% endfor %}
</div>



<a href="{{ url_for('routes.mitre') }}">Back to MITRE Tactics</a>
{% endblock %}
