{% extends "base.html" %}
{% block content %}
<h1>Windows Indicators of Compromise (IOCs)</h1>
<p>Select a section to explore:</p>

<ul>
    {% for section in sections %}
        <li><a class="info-links" href="/windows/{{ section.title.replace(' ', '_') }}">{{ section.title }}</a></li>
    {% endfor %}
</ul>

{% for section in sections %}
    {% if section.title == "Persistence Methods" %}
        <h2>{{ section.title }}</h2>
        <p>{{ section.content }}</p>
        <ul>
            {% for link in section.links %}
                <li><a class="info-links" href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{% endblock %}
